@media only screen and (max-width: 783px) {
    .container {
        flex-direction: column;
        .principal-container {
            width: 100%;
            margin-bottom: 45px;
            .flag-div {
                height: 60vh;
                width: 88%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                margin-left: -133px;
            }
            .phone-div {
                margin: 20px auto;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                height: 455px;
                width: 225px;
                border-radius: 25px;
                box-shadow: 5px 5px 26px -8px rgba(0, 0, 0, .2);
                .phone-header {
                    .phone-container {
                        .avatar {
                            .arrow-div {
                                width: 10px;
                            }
                            img {
                                width: 23px;
                            }
                        }
                        .text-phone-container {
                            h3 {
                                font-size: .6em;
                            }
                            p {
                                font-size: .4em;
                            }
                        }
                        .menu-svg {
                            img {
                                width: 2.5px;
                            }
                        }
                    }
                }
                .message {
                    div {
                        margin: 4px 0;
                        padding: 5px 8px;
                        p {
                            font-size: 8.5px;
                        }
                    }
                    .invisible-space {
                        height: 5px;
                        padding: 0;
                        margin: 0;
                    }
                    .msg-1 {
                        padding: 6px 8px;
                    }
                    .msg-2 {
                        padding: 6px 8px;
                    }
                    .msg-3 {
                        margin: 0;
                        padding: 2px 8px;
                        img {
                            width: 40px;
                            height: 40px;
                        }
                    }
                    .msg-4 {
                        padding: 6px 8px;
                    }
                    .msg-5 {
                        padding: 6px 8px;
                    }
                    .msg-6 {
                        padding: 6px 8px;
                    }
                    .msg-7 {
                        padding: 6px 8px;
                        div {
                            margin: 0 0;
                            margin-right: 4px;
                        }
                        p {
                            span {
                                margin-left: 15px;
                                font-size: 10px;
                            }
                        }
                    }
                    .msg-8 {
                        padding: 6px 8px;
                        div {
                            margin: 0 0;
                            margin-right: 4px;
                        }
                        p {
                            span {
                                margin-left: 15px;
                                font-size: 10px;
                            }
                        }
                    }
                    .phone-write {
                        width: 100%;
                        margin-top: -4px;
                        input {
                            &::placeholder {
                                font-size: 1em;
                            }
                        }
                        button {
                            right: 12px;
                        }
                    }
                }
            }
        }
        .secondary-container {
            width: 100%;
            height: 57vh;
            .text-container {
                margin: 0 auto;
                width: 70%;
                height: 15vh;
                line-height: 0px;
                h2 {
                    font-size: 1.5em;
                    text-align: center;
                    margin-bottom: 30px;
                }
                p {
                    line-height: 20px;
                    font-size: .6em;
                    text-align: center;
                }
            }
        }
    }
}